# Python cache and build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.tmp

# Virtual environments
venv/
.venv/

# Pytest cache
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db
